.userinfo-container{
    padding: 25px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userimage-container{
    padding: 10px;
    margin: 0;
}

.userimage {
    border: 8px solid var(--secondary);
}

.bg-stat {
    background-color: var(--primary);
}